ErrorDocument 403 /403/
ErrorDocument 404 /404/

DirectoryIndex index.php index.html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
Options +FollowSymlinks -Indexes
RewriteBase /

RewriteRule ^(.*)$ /index.php?get=$1&%{QUERY_STRING}